{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Add your CSS styles here */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #007bff;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Location index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date Debut</th>
                <th>Date Retour</th>
                <th>Prix</th>
                <th>Client</th>
                <th>Voiture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.getDateDebut() ? location.getDateDebut() | date('Y-m-d') : '' }}</td>
                <td>{{ location.getDateRetour() ? location.getDateRetour() | date('Y-m-d') : '' }}</td>
                <td>{{ location.prix }}</td>
                <td>{{ location.client.nom }}</td>
                <td>{{ location.voiture.serie }}</td>
                <td>
                    <a href="{{ path('app_location_show', {'id': location.id}) }}">show</a>
                    <a href="{{ path('app_location_edit', {'id': location.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_location_new') }}">Create new</a>
{% endblock %}