{% block title %}New Location{% endblock %}

{% block stylesheets %}
    
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            /* Add more styles as needed */
        }

        h1 {
            color: #333;
        }

        /* Add more styles as needed */
    </style>
{% endblock %}

{% block body %}
    <h1>Create new Location</h1>

    {{ include('location/_form.html.twig') }}

    <a href="{{ path('app_location_index') }}">back to list</a>
{% endblock %}