{% extends 'base.html.twig' %}

{% block title %}Liste des voitures{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1 {
            color: #333;
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #007bff; /* Blue color for links */
        }

        /* Add more styles as needed */
    </style>
{% endblock %}

{% block body %}
    <h1>Liste des voitures</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Serie</td>
            <td>Modele</td>
            <td>Date</td>
            <td>Prix Jour</td>
            <td>Action</td>
            <td>Action</td>
        </tr>
        {% for v in listeVoiture %}
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.Serie }}</td>
                <td>{{ v.Modele }}</td>
                <td>{{ v.getDateMiseEnMarche() | date}}</td>
                <td>{{ v.getPrixJour() }}</td>
                <td><a href="{{ path("voitureDelete", {'id': v.id}) }}">Supprimer</a></td>
                <td><a href="{{ path("voitureUpdate", {'id': v.id}) }}">MAJ</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}